.homeContentContainer { 
      margin: 0 $mg-2 - 5;
      position: absolute;
      width: 78%;
      top: 23%;
      left: 17%;
      .chartContainer {
        padding: $pd-6 $pd-2;
        .chartFramework {
            margin-left: 20px;
            width: 100%;
        
        }
        .chartInfoContainer {
            .TotalInfo {
              h3 {
                  @include text-style($color-purple-0,  $fs-3, $fw-normal);
              }
      
              p {
                  @include text-style($color-purple-0, $fs-0, $fw-normal);
              }
    
              .progressContainerBar {
                background-color: $color-gray-7;
                height: 5px;
                width: 90%;
                margin-bottom: $mg-1 + 5;
                .progressBar {
                      height: 5px;
                      width: 100%;
                      background-color: $color-purple-0;
                  }
                }
          
          }
      
          .ReactInfo {
              h3 {
                  @include text-style($color-red-0, $fs-3, $fw-normal);
              }
      
              p {
                  @include text-style($color-red-0, $fs-0, $fw-normal);
              }
    
              .progressContainerBar {
                background-color: $color-gray-7;
                height: 5px;
                width: 90%;
                margin-bottom: $mg-1 + 5;
                .progressBar {
                      height: 5px;
                      width: 45%;
                      background-color: $color-red-0;
                  }
                }
          }
      
          .AngularInfo {
              h3 {
                  @include text-style($color-blue-0, $fs-3, $fw-normal);
              }
      
              p {
                  @include text-style($color-blue-0, $fs-0, $fw-normal);
              }
    
              .progressContainerBar {
                background-color: $color-gray-7;
                height: 5px;
                width: 90%;
                margin-bottom: $mg-1 + 5;
                .progressBar {
                      height: 5px;
                      width: 35%;
                      background-color: $color-blue-0;
                  }
                }
          }
      
          .VueInfo {
              h3 {
                  @include text-style($color-green-0, $fs-3, $fw-normal);
              }
      
              p {
                  @include text-style($color-green-0, $fs-0, $fw-normal);
              }
    
              .progressContainerBar {
                background-color: $color-gray-7;
                height: 5px;
                width: 90%;
                margin-bottom: $mg-1 + 5;
                .progressBar {
                      height: 5px;
                      width: 20%;
                      background-color: $color-green-0;
                  }
                }
          }
        }
      
      }

      .tableLatestContainer {
        margin-top: $mg-3;
        margin-bottom: $mg-3;

        h2 {
          color: $color-black-0;
          padding-bottom: $pd-2;
          margin: 0 auto;
        }
        .tableUserList {
            padding: $pd-3 $pd-7;
            margin: 0;
        }

        .tableCourseList {
          padding: $pd-3 $pd-7;
        }
      }
      
  }


  