.tableUserList__tableCourseContent {
    width: 100%;
    word-break: break-all;
    .tableUserList__cellNotFound {
        transform: translateX(75%);
    }
}

// Responsive

@include mediaQuery('extra-large-3') {
    .tableUserList__tableCourseContent {
        .tableUserList__cellNotFound {
            transform: translateX(100%);
        }
    }
}


@include mediaQuery('extra-large') {
    .tableUserList__tableCourseContent {
        .tableUserList__cellNotFound {
            transform: translateX(95%);
        }
    }

    td:nth-child(5) {
        width: 18.5%;
        
    }

    td:nth-child(2) {
        width: 16%;
        word-break: break-all;
        
    }
}

@include mediaQuery('large') {
    .tableUserList__tableCourseContent {
        .tableUserList__cellNotFound {
            transform: translateX(85%);
        }
    }

    td:nth-child(5) {
        width: 18.5%;
        
    }

    td:nth-child(2) {
        width: 16%;
        word-break: break-all;
        
    }
}

@include mediaQuery('medium') {
    .tableUserList__cellNotFound {
        transform: translateX(80%);
    }

    td:nth-child(5) {
        width: 18.5%;
        
    }

    td:nth-child(2) {
        width: 16%;
        word-break: break-all;
        
    }
}
