.separator {
    border-bottom: 1px dashed #fff;
    width: 82%;
    position: absolute;
    top: 7%;
    left: 15.3%;
   
}

// Responsive

@include mediaQuery('extra-large-4') {
    .separator {
        width: 78%;
        left: 19.2%;
       
    }
}

@include mediaQuery('extra-large-3') {
    .separator {
        width: 76%;
        left: 21.2%
       
    }
}

@include mediaQuery('extra-large-2') {
    .separator {
        width: 76%;
        left: 22%
       
    }
}

@include mediaQuery('extra-large') {
    .separator {
        width: 85.5%;
        left: 10%
       
    }
}

@include mediaQuery('large') {
    .separator {
        width: 92.5%;
        top: 10%;
        left: 3.7%
       
    }
}

@include mediaQuery('medium') {
    .separator {
        width: 92.5%;
        left: 3.5%;
       
    }
}

@include mediaQuery('small') {
    .separator {
        display: none;
        width: 91%;
        left: 4.7%
       
    }
}