.screenRotationContainer {
    .MuiSvgIcon-root {
        position: absolute;
        top: 30%;
        left: 25%;
        color: white;
        font-size: 200px;
        @include animation('rotate-screen' 3s infinite);
        
                
        @include keyframes('rotate-screen') {
            0% { transform: rotate(45deg) }
            
            100% { transform: rotate(-45deg) }
 
        }
    }

    p {
        text-align: center;
        position: absolute;
        top: 70%;
        left: 25%;
        @include text-style($color-white-0, $fs-2, $fw-bold);
    }
}

