.courseEditCotaniner {
    h4, h2 {
        margin-top: $mg-2;
    }
    @include contentSchemaEditCourse();
    .inputDescription {
        height: $height-100p;
    }

    .buttonAddNewCourse {
        width: $w-20;
    }
}