.pagination {
    left: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        @include text-style($color-black-0, $fs-1 + 3, $fw-normal);
        padding: 13px;
        margin: 5px;
        border-radius: 5px;
        background: $color-yellow-0;
        text-decoration: none;
        &:hover {
            background-color: $color-yellow-1;
            text-decoration: none;
        }
    }

    .activeClass {
        background: $color-yellow-1;
        color: $color-white-0;
    }
   
}

// Responsive

@include mediaQuery('large') {
    .pagination {
        a {
            font-size: $fs-2 - 5;
        }
     
    }
    
}

@include mediaQuery('medium') {
    .pagination {
        a {
            font-size: $fs-2 - 5;
        }
     
    }
    
}






