
#content.active {
    width: 100%;
    margin: 0;
  }

  #sidebarCollapse {
      left: 17%;
      margin-top: $mg-2;
  }

//  Responsive

@include mediaQueryMinWidth('large') {
  #sidebarCollapse {
    display: none;
  }
    

}

@include mediaQuery('large') {
  #sidebarCollapse {
    position: absolute;
    left: 3.5%;
  }
}