.courseEditCotaniner {
    @include contentSchemaTableEdit();
    top: 12%;
    left: 14.5%;
    margin-bottom: $mg-2;
    h4, h2 {
        padding: $pd-2 0;
    }
    
    .inputDescription {
        height: $height-100p;
    }

    .buttonAddNewCourse {
        width: $w-20;
    }
    .imageInput {
        color: $color-yellow-1;
        text-align: left;
        padding-left: $pd-2;
        line-height: normal;
        input {
            display: none;
        }
        span {
            padding-left: $pd-1;
        }
    }
    .inputDescription {
        padding-left: $pd-4;
    }
  
  
}


// Responsive

@include mediaQuery('extra-large-4') {
    .courseEditCotaniner {
        width: 78%;
        left: 18%;
    }
}

@include mediaQuery('extra-large-3') {
    .courseEditCotaniner { 
        width: 76%;
        left: 20%;
    }
}

@include mediaQuery('extra-large-2') {
    .courseEditCotaniner { 
        width: 74%;
        left: 22%
    }
}

@include mediaQuery('extra-large') {
    .courseEditCotaniner { 
        width: 87%;
        left: 8%
    }
}

@include mediaQuery('large') {
    .courseEditCotaniner { 
        width: 93%;
        top: 12%;
        left: 1%
    }
}

@include mediaQuery('medium') {
    .courseEditCotaniner { 
        width: 92%;
        top: 12%;
        left: 1%;
    }
}

@include mediaQueryForIpad() {
    .courseEditCotaniner { 
        top: 12%;
    }
}

@include mediaQueryForIpadRotate() {
    .courseEditCotaniner { 
        top: 16%;
    }
}

@include mediaQueryForIpadPro() {
    .courseEditCotaniner {
        top: 8.5%;
    }
}

@include mediaQueryForIpadProRotate() {
    .courseEditCotaniner {
        top: 12%;
    }
}
