.courseEditCotaniner {
    @include contentSchemaTableEdit();
    h4, h2 {
        margin-top: $mg-2;
    }
    
    .inputDescription {
        height: $height-100p;
    }

    .buttonAddNewCourse {
        width: $w-20;
    }
}

// Responsive

@include mediaQuery('extra-large-4') {
    .courseEditCotaniner {
        width: 78%;
        left: 18%;
    }
}

@include mediaQuery('extra-large-3') {
    .courseEditCotaniner { 
        width: 76%;
        left: 20%;
    }
}

@include mediaQuery('extra-large-2') {
    .courseEditCotaniner { 
        width: 74%;
        left: 22%
    }
}

@include mediaQuery('extra-large') {
    .courseEditCotaniner { 
        width: 87%;
        left: 8%
    }
}

@include mediaQuery('large') {
    .courseEditCotaniner { 
        width: 92.5%;
        left: 1%
    }
}

@include mediaQuery('medium') {
    .courseEditCotaniner { 
        width: 92.5%;
        left: 0;
    }
}

@include mediaQuery('small') {
    .courseEditCotaniner { 
        width: 91%;
        left: 0;
    }
}