.userEditCotaniner {    
    @include contentSchemaTableEdit();
    top: 12%;
    left: 14.5%;
    margin-bottom: $mg-2;
    h4, h2 {
        padding: $pd-2 0;
    }
    .inputDescription {
        height: $height-100p;
    }

    .buttonAddNewCourse {
        width: $w-20;
    }
}

// Responsive 
@include mediaQuery('extra-large-4') {
    .userEditCotaniner {
        width: 78%;
        left: 18%;
    }
}

@include mediaQuery('extra-large-3') {
    .userEditCotaniner {
        width: 76%;
        left: 20%;
    }
}

@include mediaQuery('extra-large-2') {
    .userEditCotaniner {
        width: 74%;
        left: 22%
    }
}

@include mediaQuery('extra-large') {
    .userEditCotaniner { 
        width: 87%;
        left: 8%
    }
}

@include mediaQuery('large') {
    .userEditCotaniner {
        width: 92.5%;
        top: 12%;
        left: 1%
    }
}

@include mediaQuery('medium') {
    .userEditCotaniner {
        width: 92.5%;
        top: 12%;
        left: 0;
    }
}

@include mediaQueryForIpad() {
    .userEditCotaniner { 
        top: 12%;
    }
}

@include mediaQueryForIpadRotate() {
    .userEditCotaniner { 
        top: 16%;
    }
}

@include mediaQueryForIpadPro() {
    .userEditCotaniner {
        top: 8.5%;
    }
}

@include mediaQueryForIpadProRotate() {
    .userEditCotaniner {
        top: 12%;
    }
}