.profileContainer {
    @include contentSchemaTop();
    width: 82%;

    .card-header {
        h2, p {
            margin: $mg-1 0;
        }
    }
}

// Responsive

@include mediaQuery('extra-large-4') {
    .profileContainer {
        width: 78%;
        left: 18%
    }
}

@include mediaQuery('extra-large-3') {
    .profileContainer {
        width: 76%;
        left: 20%
    }
}

@include mediaQuery('extra-large-2') {
    .profileContainer {
        width: 74%;
        left: 22%
    }
}

@include mediaQuery('extra-large') {
    .profileContainer {
        width: 87%;
        left: 8%
    }
}

@include mediaQuery('large') {
    .profileContainer {
        width: 92.5%;
        left: 1%
    }
}


@include mediaQuery('medium') {
    .profileContainer {
        width: 92.5%;
        left: 0;
    }
}

@include mediaQuery('small') {
    .profileContainer {
        width: 91%;
        left: 0;
    }
}