.adminLoginBox {
    height: 100%;
    align-content: center;
    text-align: center;
    padding: 17rem 0;
    .card {
        height: $height-370;
        width: $w-400;
        margin-top: auto;
        margin-bottom: auto;
        background-color: $color-yellow-0 !important;
        .card-header {
            h3 {
                @include text-style($color-black-0, $fs-3 + 6, $fw-bold)
            }

            .welcomeLogin {
                @include text-style($color-black-0, $fs-2, $fw-bold)
            }
            
            }
        .card-body {
            .formSearch {
                .form-control:focus{
                    outline: 0 0 0 0  !important;
                    box-shadow: 0 0 0 0 !important;
                    
                    }
                .input-group-prepend span{
                    width: 50px;
                    background-color: $color-yellow-3;
                    color: $color-black-0;
                    border: 0 !important;
                    }
                 button {
                    margin-top: $mg-3;
                    color: $color-white-0;
                    background-color: $color-yellow-3;
                    width: 100px;
                    &:hover {
                        color: $color-black-0;
                        background-color: $color-white-0;
                        
                    }
                }

                    
            }
        }
    }
}



