.inputTableSearch {
    left: 16%;
    .form-control {
        border-radius: 50px;
        border: 1px solid $color-white-0;
    }

    &:focus {
        box-shadow: none;;
    }
    
}

// Responsive 
@include mediaQuery('extra-large-4') {
    .inputTableSearch {
        left: 19.2%;
    }
      
}

@include mediaQuery('extra-large-3') {
    .inputTableSearch {
        left: 21.2%;
    }
      
}

@include mediaQuery('extra-large-2') {
    .inputTableSearch {
        left: 23.7%
    }
      
}

@include mediaQuery('extra-large') {
    .inputTableSearch {
        left: 10%;
    }
      
}

@include mediaQuery('large') {
    .inputTableSearch {
        left: 3.7%;
    }
      
}

@include mediaQuery('medium') {
    .inputTableSearch {
        left: 3.5%;
    }
      
}

@include mediaQuery('small') {
    .inputTableSearch {
        left: 4.2%;
    }
      
}