.table td, .table th {
    vertical-align: 0%;
    
}

.tableContainer {
    .tableUserList {
        @include contentSchemaTop ();
        width: 82%;
        left: 14.5%;
        top: 18%;
        table {
            max-width: 100%;
        }
    }

    .tableCourseList {
        @include contentSchemaTop ();
        width: 82%;
        left: 14.5%;
        top: 18%;
        table {
            max-width: 100%;
        }
    }
    
}

// Responsive


@include mediaQuery('extra-large-4') {
    .tableContainer {
        .tableUserList {
            width: 78%;
            left: 18%;
           
        }
    
        .tableCourseList {
            width: 78%;
            left: 18%;
        
        }
    }
}

@include mediaQuery('extra-large-3') {
    .tableContainer {
       
        .tableUserList {
            font-size: $fs-1;
            text-align: left;
            width: 76%;
            left: 20%;
           table {
             word-break: break-all;
             td:last-child {
                 text-align: center;
             }
           }
           .btn {
            font-size: $fs-1;
            width: 50%;
            
           }
        }
    
        .tableCourseList {
            font-size: $fs-1;
            text-align: left;
            width: 76%;
            left: 20%;
           table {
             word-break: break-all;
             td:last-child {
                 text-align: center;
             }
           }
           .btn {
            font-size: $fs-1;
            width: 50%;
            
           }
        
        }
    }
}

@include mediaQuery('extra-large-2') {
    .tableContainer {
        .tableUserList {
            width: 76%;
            left: 20%;
            .btn {
                width: 50%;
                
            }
        }
    
        .tableCourseList {
            width: 76%;
            left: 20%;
            .btn {
                width: 50%;
                
            }
        
        }
    }
}

@include mediaQuery('extra-large') {
    .tableContainer {
        .tableUserList {
            width: 86%;
            left: 8%;
            .btn {
                width: 70%;
                
            }
        }
    
        .tableCourseList {
            width: 86%;
            left: 8%;
            .btn {
                width: 70%;
                
            }
        }
    }
}

@include mediaQuery('large') {
    .tableContainer {
        .tableUserList {
            width: 93%;
            left: 1%;
            .btn {
                width: 70%;
                
            }
        }
    
        .tableCourseList {
            width: 93%;
            left: 1%;
            .btn {
                width: 70%;
                
            }
        }
    }
}

@include mediaQuery('medium') {
    .tableContainer {
        .tableUserList {
            font-size: $fs-1 - 2;
            width: 92%;
            left: 1%;
            .btn {
                font-size: $fs-1 - 2;
                width: 80%;
                
            }
        }
    
        .tableCourseList {
            font-size: $fs-1 - 2;
            width: 92%;
            left: 1%;
            .btn {
                font-size: $fs-1 - 2;
                width: 80%;
                
            }
        }
    }
}

@include mediaQueryForIpad() {
    .tableContainer {
        .tableUserList {
            top: 18%;
        }
    
        .tableCourseList {
            top: 18%;
        }
    }
}

@include mediaQueryForIpad() {
    .tableContainer {
        .tableUserList {
            top: 18%;
        }
    
        .tableCourseList {
            top: 18%;
        }
    }
}

@include mediaQueryForIpadRotate() {
    .tableContainer {
        .tableUserList {
            top: 24%;
        }
    
        .tableCourseList {
            top: 24%;
        }
    }
}

@include mediaQueryForIpadPro() {
    .tableContainer {
        .tableUserList {
            top: 14%;
        }
    
        .tableCourseList {
            top: 14%;
        }
    }
}

@include mediaQueryForIpadProRotate() {
    .tableContainer {
        .tableUserList {
            top: 18%;
        }
    
        .tableCourseList {
            top: 18%;
        }
    }
}

