.inputTableSearch {
    padding-top: $pd-12;
    position: absolute;
    top: 0;
    left: 17%;
    .form-control {
        border-radius: 50px;
        border: 1px solid $color-white-0;
    }

    &:focus {
        box-shadow: none;;
    }
    
}
.table td, .table th {
    vertical-align: 0%;
    
}

.tableContainer {
    .tableUserList {
        width: 80%;
        @include contentSchemaTop ();
        table {
            max-width: 100%;
        }
    }

    .tableCourseList {
        width: 80%;
        @include contentSchemaTop ();
        table {
            max-width: 100%;
        }
    }
    
}


