.vertical-nav {
    height: 100%;
    background: $color-white-0;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 250px;
    .mainMenu {
        letter-spacing: 0.1em;
        @include text-style($color-gray-2, $fs-0, $fw-normal);
        padding-left: $pd-2
    }

    .nav {
        .nav-item {
            .textMenu {
                cursor: pointer;
                color: $color-black-0;
                &:hover {
                    color: $color-white-0;
                    transition: 0.5s all;
                    .menuIcon { 
                        color: $color-white-0;
                        transition: 0.5s all;
                    }
                }
            }

            .menuIcon {
                color: $color-yellow-1;
            }
            
            &:hover {
                background-color: $color-yellow-6;
                transition: 0.5s all;
            }
        }
    }
  }
  
  @include mediaQueryMinWidth('extra-large') {
    .imgResponsive {
        display: none;
    }

    .menuIconResponsive {
        display: none!important;
    }
  }

  @include mediaQuery('extra-large') {
    .vertical-nav {
        z-index: 300;
        transform: translateX(-75%);
        transition: transform 0.3s ease-out;
        h4, p, span {
            opacity: 0;
        }
        
        .menuIconResponsive {
            position: absolute;
            left: 83%;
            color: $color-yellow-1;
        }

        .imgResponsive {
            position: absolute;
            top: 3%;
            left: 81%;
        }

        &:hover {
            h4, p, span {
               opacity: 1;
            }
            
            .menuIconResponsive, .imgResponsive {
                display: none;
            }
            transform: translateX(0);
        }
    }
  
  }

  @include mediaQuery('large') {
    .vertical-nav {
        z-index: 300;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
        h4, p, span {
            opacity: 1;
        }

        .menuIconResponsive, .imgResponsive {
            display: none;
        }
  }

  .vertical-nav.open {
    transform: translateX(0)!important;
    }
}




